.ItemDescription {
  padding: 0 0 0 40px;
}

.ItemDescription__detail {
  margin: 0 0 20px;
}

.ItemDescription__detail-span {
  font-weight: 600;
}

.ItemDescription__price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
